<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <title>Název stránky</title>
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Ahoj světe!</h1>
      <p class="subtitle">
        Tohle je moje první stránka s <strong>Bulmou</strong>!
      </p>
    </div>
  </section>



  
</body>
</html>